.secao-tabela {
  height: 100vh;
}

.tabela {
  margin-top: 20px;
}

.cadastro-turno {
  display: flex;
  align-items: center;
  background-color: var(--background-secundary);
  margin-top: 50px;
  justify-content: center;
  width: 100%;
}

.input {
  height: 40px;
  width: 150px;
}

select  {
  height: 40px;
  width: 150px;
}

.cabeçalho-turno {
  background-color: var(--background-secundary);
  display: flex;
  color: #000;
}

.horarios  {
  background-color: var(--background-secundary);
  color: #000;
}

.btn-turno {
  background-color: var(--background-primary);
  height: 40px;
  width: 150px;
}

.btn-turno:hover {
  background-color: #221514;
}

.tabela-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse; /* Add this to collapse table borders */
  border-spacing: 0; /* Remove spacing between table cells */
}

.titulo-tabela {
  text-align: center;
  color: #fff;
  margin-top: 50px;
}
