.input-cadastro {
  /* Your existing styles */
}

.input-container {
  /* Your existing styles */
}

label {
  /* Your existing styles */
}

input[type="text"] {
  /* Your existing styles */
}

button {
  /* Your existing styles */
}

button:hover {
  /* Your existing styles */
}

.tabela-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse; /* Add this to collapse table borders */
  border-spacing: 0; /* Remove spacing between table cells */
}

.titulo-tabela {
  text-align: center;
  color: #fff;
  margin-top: 50px;
}

.horario {
  /* Your existing styles */
}

thead th {
  background-color: var(--background-secundary);
  padding: 10px;
  text-align: left;
}

td {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bg-table {
  background-color: var(--background-primary);
}

@media (max-width: 600px) {
  table {
      font-size: 12px;
  }

  th,
  td {
      padding: 5px;
  }
}
