

.input-cadastro {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.input-container label {
    color: #fff;
}

.input-cadastro input {
    height: 45px;
    border-radius: 3px;
    font-size: 18px;


}

.input-cadastro button {
    width: 100px;
    height: 45px;
    background-color: var(--background-secundary);
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}