nav {
    background-color: var(--background-secundary);
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.links {
    display: flex;
    /* justify-content: space-between; */
 align-items: center;
}

.link-registro {
    text-decoration: none;
    color: var(--background-primary);
    margin-left: 10px;
}

nav img {
    width: 80px;
}

.link-login {
    color: var(--background-primary);
    text-decoration: none;
    
}